ul#navigation {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 10px;
	left: 0px;
	list-style: none;
	z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 60px;    
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #fcfcfc;
	border-bottom-right-radius:10px;
	border-top-right-radius:10px;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .home a{
    background-image:url(../icons/home.png);
}
ul#navigation .admin a      {
	background-image:url(../icons/adminmenu.png);
}
ul#navigation .back a      {
    background-image:url(../icons/back.png);
}
