.class_tahoma_12_normal{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
}
.class_tahoma_12_bold{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	
}