@charset "utf-8";
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	background-image:url(../images/bgnoise.gif);
	vertical-align:top;
	text-align:left;
}
div {
	display:block;
	padding:0px;
	margin:0px;
}
ul,li {
	padding:0px;
	margin:0px;
	list-style:none;
}
h1 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
.top_menu a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	cursor:pointer;
	text-decoration:underline;
}
.headbar {
	width:100%;
	height:30px;
	background-color:#2c4056;
	border-bottom:solid 1px #213040;
}
.container {
	width:960px;
	margin-top:0px;
	background-color:#fff;
	min-height:730px;
	margin-bottom:20px;
	padding:10px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
	text-align:left;
	overflow: auto;
}
.title {
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	border: 1px solid #cbcbcb;
}
.top_menu {
	color:#fff;
	width:960px;
	text-align: left;
	position:relative;
}
.menu {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 22px;
	height: 22px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 11px;
}
.menu:hover {
	cursor:pointer;
	text-decoration:underline;
}.top_right_menu {
	text-align: right;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.my_menu {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: right;
	display: inline-block;
	margin-left: 5px;
	line-height: 22px;
	height: 22px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 11px;
}
.link:hover {
	cursor:pointer;
	text-decoration:underline;
}
.list {
	width: 910px;
	position: relative;
	border: 1px solid #ededed;
	margin: 15px;
}
.row {
	line-height: 20px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.darkgray {
	background-color: #dcdcdc;
}
.lightgray {
	background-color: #ededed;
}
.bold {
	font-weight: bold;
}
.left {
	text-align: left;
}

.center {
	text-align: center;
}
.inline {
	display: inline-block;
}
.name {
	width: 500px;
}
.state, .date, .form {
	width: 128px;
}
.orange_botton {
	background-color: #fd7a05;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #cd6203;
	border-radius:3px;
	color: #fff;
	margin-left: 30px;
}
.orange_botton:hover {
	cursor:pointer;
	text-decoration:underline;
}
