@charset "utf-8";
.maindiv11 {
	border: 1px solid #afafaf;
	margin-top: 60px;
	overflow: auto;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width: 1250px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 20px;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #ecfbfc;
}
.maindiv12 {
	border: 1px solid #afafaf;
	margin-top: 58px;
	overflow: auto;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width: 1250px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 20px;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #eafcee;
}
.maindiv2 {
	border: 1px solid #707070;
	margin-top: 100px;
	overflow: auto;
	border-radius:5px;
	width: 1250px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 20px;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fcfaf0;
}
#divheadinfo {
	height: 28px;
	position: relative;
	border-radius:5px;
	overflow: auto;
	padding: 6px;
	background-image: url(../images/header-bg.png);
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	text-align: left;
	vertical-align: middle;
	width: 1240px;
	background-position: 40px;
}
#divheadinfo span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: normal;
	color: #444;
	text-decoration: none;
	float: left;
	height: 28px;
	background-color: #fff;
	padding-right: 5px;
	padding-left: 5px;
	border-radius:10px;
	margin-right: 5px;
}

.maindivlabel11 {
	height: 28px;
	position: absolute;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow: auto;
	padding: 6px;
	background-image: url(../images/header-bg.png);
	margin-top: -40px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -1px;
	background-position: 40px;
	z-index: 999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #afafaf;
	border-right-color: #afafaf;
	border-left-color: #afafaf;
}
.maindivlabel13 {
	height: 28px;
	position: absolute;
	border-radius:5px;
	overflow: auto;
	padding: 6px;
	background-image: url(../images/header-bg1.png);
	margin-top: -22px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	background-position: 40px;
	z-index: 999;
}
.maindivlabel2 {
	height: 28px;
	position: absolute;
	border-radius:5px;
	overflow: auto;
	padding: 6px;
	background-image: url(../images/header-bg2.png);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -1px;
	background-position: 40px;
	z-index: 999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #afafaf;
	border-right-color: #afafaf;
	border-left-color: #afafaf;
}
.divlabeltext {
	background-color: #fff;
	border-radius:10px;
	overflow: auto;
	height: 28px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.divlabeltext .nonehilight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #444;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
	margin-right: 10px;
}
#tb1 {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	margin-left: 10px;
}
.divtb1_both {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: left;
	clear: both;
	height: 30px;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
	background-attachment: scroll;
	background-color: #707070;
	background-repeat: repeat;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/header-bg.png);
	float: left;
	vertical-align: middle;
	margin-right: 0px;
	background-position: 40px;
	z-index: 555;
}
.divtb1_both22 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: left;
	clear: both;
	height: 30px;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
	background-attachment: scroll;
	background-color: #707070;
	background-repeat: repeat;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/header-bg2.png);
	float: left;
	vertical-align: middle;
	margin-right: 0px;
	background-position: 40px;
	z-index: 555;
}
.divtb1_both33 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: left;
	clear: both;
	height: 30px;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
	background-attachment: scroll;
	background-color: #707070;
	background-repeat: repeat;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/header-bg1.png);
	float: left;
	vertical-align: middle;
	margin-right: 0px;
	background-position: 40px;
	z-index: 555;
}
.divtb1_both span {
	line-height: 30px;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.divtb1_both22 span {
	line-height: 30px;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.divtb1_both33 span {
	line-height: 30px;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
#ul_tb2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #444;
	text-decoration: none;
	overflow: auto;
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
	margin-left: 10px;
	padding: 0px;
	list-style-type: none;
	width: 1230px;
}
#ul_tb2 li {
	text-decoration: none;
	padding: 0px;
	list-style-type: none;
	text-align: left;
	vertical-align: top;
	float: left;
	display: block;
	width: 1230px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#ul_tb2 li ul {
	padding: 0px;
	list-style-type: none;
	float: left;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	overflow: auto;
	margin: 0px;
}
#ul_tb2 li ul .long {
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	float: left;
	width: 250px;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#ul_tb2 li ul .short {
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	float: left;
	width: 200px;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.textbox_tb2 {
	line-height: 25px;
	text-align: right;
	vertical-align: middle;
	height: 25px;
	width: 250px;
	margin: 0px;
	text-decoration: none;
	padding: 0px;
	background-color: #fef9ea;
	border: 1px solid #aaa;
}
.textbox_tb3 {
	line-height: 25px;
	text-align: right;
	vertical-align: middle;
	height: 25px;
	width: 150px;
	margin: 0px;
	text-decoration: none;
	padding: 0px;
	background-color: #fef9ea;
	border: 1px solid #aaa;
}
#divfloatleft {
	width: 1250px;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.divchkboxcontrainer {
	height: 24px;
	background-color: #707070;
	border-radius:5px;
	overflow: auto;
	padding: 6px;
	background-image: url(../images/header-bg.png);
	width: 280px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
#spantotalamount {
	color: #dd1303;
	font-weight: bold;
}
.spanhilight {
	font-weight: bold;
	color: #dd1303;
	margin-right: 10px;
}
#spantab {
	line-height: 25px;
	padding: 5px;
	height: 15px;
	overflow: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 20px;
	background-color: #dfdfdf;
	border-radius:10px;
}
