body {font-family:tahoma; color : #333333; font-size:12px;}
H1 {font-family:tahoma; color : #333333; font-size:28px;}
A { font-size:12px; text-decoration:none;}
A:hover { color : #8B8B8B; font-size:12px; text-decoration:none;}
A:visited { color : #333333; font-size:12px; text-decoration:none;} 
input,select{font-family:tahoma; color : #333333; font-size:12px;}
.header{
	text-align:center;       
}
.wrapper{
	width:700; float:center; padding:5px;
}
legend{
    font-family: Tahoma;
    font-size: 14px;    
    color: #0000CC;
}
legend A{ color : #0000CC; font-size: 14px; text-decoration:none;}
legend A:hover{ color : #0000CC; font-size: 14px; text-decoration:none;}
legend A:visited{ color : #0000CC; font-size: 14px; text-decoration:none;}
fieldset{
    padding:3px;
}
.text_gray{
    color:gray;
}
.text_comment{
    color:red;
	font-size: 11px;
}
.odd{
	background-color:#EDF8FE;
	font-size:11px
}
.even{
	background-color:#D5EFFD;
	font-size:11px
}.hide {
	display: none;
}
#pick, #list {
	display: none;

}
.row {
	display: block;
	width: 99%;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
}
.bottom_solid {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ededed;
}
.inline {
	display: inline-block;
}


.border {
	border: 1px solid #cbcbcb;
}
.col1 {
	width: 80%;
}

.white {
	background-color: #fff;
}
.chkbx {
	text-align: left;
	width: 5%;
}
.add_new_cus {
	display: none;
}
#old_cus {
	display: none;
}
#new_cus {
	display: none;
}
#new_cus_note {
	display: none;
}
.sortable {
	color: #ff7800;
	cursor:pointer;
	text-decoration:underline;
}
