@charset "utf-8";
#bodycontainer {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	overflow: auto;
	position: relative;
}
#divmap {
	display: inline-block;
	background-color: #dfdfdf;
	border-radius:7px;
	text-align: left;
	vertical-align: top;
	margin: auto;
	padding: 0px;
	width: 800px;
	overflow: auto;
	position: relative;
}
#bodycontainer #divmap #maplabel {
	padding: 5px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #fff;
	border-radius:5px;
	border: 2px solid #278ec9;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	color: #278ec9;
	text-decoration: none;
	height: 25px;
	width: 120px;
	text-align: center;
}
#bodycontainer #divmap #mapcontainer {
	background-color: #fff;
	padding: 10px;
	border-radius:5px;
	margin: 10px;
}
#bodycontainer #divmap #infolabel {
	padding: 5px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #fff;
	border-radius:5px;
	border: 2px solid #278ec9;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	color: #278ec9;
	text-decoration: none;
	height: 25px;
	width: 150px;
	text-align: center;
}
#bodycontainer #divmap #mapcontainer #ulcontactinfo {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#bodycontainer #divmap #mapcontainer #ulcontactinfo li #spanline1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	line-height: 25px;
	color: #eac30b;
	text-decoration: none;
	font-weight: bolder;
}
